.All-In-One{
    background-color:#fdfdfd;
}

.Nav-Top{
    display: inline;
    background-color: #fafafa;
}

.Nav-Left{
    text-align: left;
}

.Nav-Right ul li{
    text-align: right;
    list-style-type: none;
    display: inline;
}

/* Nav-Top END*/
/*Logos-Small START*/

.Logos-Small{
    display: inline;
}